*,
*::before,
*::after {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

.body-section_main {
    display: none;
    width: 50%;
    border: 5px solid #000000;
}

.body-result_user_not_found{
    display: none;
    width: 50%;
    border: 5px solid #000000;
}

h3{
    margin: 5px 0px;
}

.body-section_username_result{
    margin: 0px 15px;
}

.body-section_login_result{
    margin: 0px 15px;
}

.body-section_followers_main{
    margin: 1px 10px 0px 15px;
    display: flex;
}

.body-section_image_result{
    margin: 0px 15px;
}

.body-section_followers {
    display: none;
    width: 50%;
    border: 5px solid #000000;
    text-transform: capitalize;
}
